@forward 'globals';

$max-w: 1024px;

.content,
.bottom-wrapper {
    max-width: $max-w;
    width: 100%;
    margin-inline: auto;
    padding: 1.5em;
}

.App {
    outline: 5px solid blue;
    background-position: center;
    background-size: cover;
    transition: background-image 300ms ease;
    isolation: isolate;

    &.layer::after {
        content: '';
        display: block;
        position: fixed;
        inset: 0;
        left: 0;
        z-index: -1;
        background: radial-gradient(circle, rgb(0 0 0 / .2), rgb(0 0 0 / .8));
    }

    &.layer {
        color: white;
    }
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.hidden {
    display: none;
}