@forward 'globals';

$max-w: 1024px;

.App,
.wrapper {
    max-width: $max-w;
    width: 100%;
    margin-inline: auto;
}

.App {
    padding: 1.5em;
    padding-top: 0;

    &.layer::after {
        content: '';
        display: block;
        position: fixed;
        inset: 0;
        left: 0;
        background: radial-gradient(circle, rgb(0 0 0 / .2), rgb(0 0 0 / .8));
        z-index: -1;
    }

    &.layer {
        color: white;
    }
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.hidden {
    display: none;
}