@forward 'globals';

$mx-w: 1024px;

h1 {
    font-size: 2rem;
    margin-bottom: 1em;
    text-align: center;
}

.App,
.wrapper {
    max-width: $mx-w;
    width: 100%;
    margin-inline: auto;
}

.App {
    padding: 1em;
    padding-bottom: 2em;

    &.layer::after {
        content: '';
        display: block;
        position: fixed;
        inset: 0;
        left: 0;
        background: radial-gradient(circle, rgb(0 0 0 / .2), rgb(0 0 0 / .8));
        z-index: -1;
    }

    &.layer {
        color: white;
    }
}

.space-between {
    display: flex;
    justify-content: space-between;
}