.component {

    span {
        display: inline-block;
        background-color: black;
        color: white;
        padding: .5em;
    }

    h3 {
        padding-bottom: .5em;
        margin-bottom: .5em;
        border-bottom: 1px solid black;
    }

    .aside {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: .5em;

        .icons-list {
            display: flex;
            gap: .5rem;

            .icon {
                border: 1px solid black;
                color: white;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
            }
        }
    }
}