@media (min-width: 768px) {

    main {
        position: relative;
        padding-inline: 2em;
    }

    footer {
        padding-inline: 0;

        .bottom-wrapper {
            padding-inline: 2em;
        }
    }

}