section {

    &:not(:last-of-type) {
        margin-bottom: 3em;
    }
    
    .section-header {
        align-items: flex-end;
        padding-block: .5em;

        h2 {
            font-family: Nunito;
            font-weight: 900;
        }
    }
    
    .section-guide {
        background-color: #FFDEE9;
        background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
        color: #000;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 4rem;
        justify-content: center;
        padding: 2em;
    
        & > * {
            position: relative;
    
            .note-layer {
                position: absolute;
                inset: 0;
                background-color: white;
                clip-path: circle(0% at top right);
                transition: all 500ms ease;
    
                .note-header {
                    border-bottom: 1px solid #E6E6E6;
                    padding: .5em;
                    align-items: center;
    
                    h3 {
                        margin: 0;
                    }
                }
            }
    
            .reveal {
                clip-path: circle(100%);
            }
        }
    
        h3 {
            margin-bottom: .4em;
        }
    
        p {
            line-height: 1.4;
        }
    
        .section-content {
            text-align: center;
            margin-top: 2em;

            input {
                width: 100%;
            }
    
            .images-container,
            .videos-container {
                display: flex;
                flex-wrap: wrap;
                gap: .5rem;
    
                & > * {
                    width: 10rem;
                    height: 10rem;
                    flex-grow: 1;
                    border-radius: 10px;
                    overflow: hidden;
                }
    
                .video-1,
                .video-2 {
                    height: calc(20rem + .5rem);
                }
            }
        }
    }
    
    .cta-btn {
        background-color: black;
        color: white;
        font-weight: 500;
    }
}