.style {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    margin-inline: 3rem;
    border-bottom: 1px solid #F2F2;
    position: relative;

    .make-note {
        background: white;
        position: absolute;
        inset: 0;
        clip-path: circle(0% at top right);
        transition: all 500ms ease;

        nav {    
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: black;
            padding: 1rem;
            background: #EEE;
        }
    }

    .display  {
        clip-path: circle(100%);
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: .6rem;
    }

    .elements {
        margin-top: 2rem;
        text-align: center;
    }
}