.style {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    margin-inline: 3rem;
    border-bottom: 1px solid #F2F2;
    position: relative;

    .make-note {
        background: white;
        position: absolute;
        inset: 0;
        clip-path: circle(0% at top right);
        transition: all 500ms ease;
        padding: 1rem;
        z-index: 9;

        nav {    
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: black;
            border-bottom: 1px solid #DDD;
            padding-bottom: 5px;
        }

        input {
            margin-top: 10px;
        }

        .add {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            margin: 0;
            background: black;
            color: white;
        }
    }

    .display  {
        clip-path: circle(100%);
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: .6rem;
    }

    .elements {
        margin-top: 2rem;
        text-align: center;
    }
}