@forward 'globals';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-position: 0;
    background-attachment: fixed;
    background-size: cover;
    transition: all 500ms ease;
    margin-top: .5rem;
}

header, section, footer {
    width: 100%;
    max-width: 1024px;
    margin-inline: auto;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#author {
    font-weight: bold;
    margin-bottom: 4px;
}

.wallpaper {

    header, nav, footer {
        color: white;
    }

    .input-field .fas {
        color: black;
    }
}

.blur {

    .section {
        background: rgba($color: #000000, $alpha: .2) !important;
        color: white;
        backdrop-filter: blur(5px);

        .style {
            border-color: #EEE;
        }

        #checkbox, ul {
            border-color: white !important;
        }
    }
}

.fas {
    font-size: 1.3rem;
    cursor: pointer;
}